<DModal
  @title={{theme-i18n "sticker.modal_title"}}
  @closeModal={{@closeModal}}
  id="sticker-modal"
  class="sticker-modal"
>
  <:body>
    <div class="sticker-pack">
      {{#each stickerImages as |si|}}
        <span 
          class="sticker-holder"
          {{on "click" this.pick}}
        >
          {{#if 
            (and 
              this.site.desktopView
              (not this.capabilities.touch)
            )
          }}
            <DTooltip>
              <:trigger>
                <img
                  class="sticker"
                  alt={{si.title}}
                  src={{si.previewUrl}}
                  markdownUrl={{si.markdownUrl}}
                  width="100"
                  height="100"
                  loading="lazy"
                />
                <span class="emoji-alt">{{si.emoji}}</span>
              </:trigger>
              <:content>
                {{si.title}}
              </:content>
            </DTooltip>
          {{else}}
            <img
              class="sticker"
              title={{si.title}}
              alt={{si.title}}
              src={{si.previewUrl}}
              markdownUrl={{si.markdownUrl}}
              width="100"
              height="100"
              loading="lazy"
            />
            <span class="emoji-alt">{{si.emoji}}</span>
          {{/if}}
        </span>
      {{/each}}
    </div>
  </:body>
</DModal>
